<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998485099147-mqekp8rh459lb34b4j4b2pbjcf001egd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998485099147-mqekp8rh459lb34b4j4b2pbjcf001egd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>998485099147-rdsnf84n5clptdvvddpie00hee6k9kcr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCN1Hrydtcn7BFsz7XDQC5h2futFLZi8W8</string>
	<key>GCM_SENDER_ID</key>
	<string>998485099147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mspEcommerece</string>
	<key>PROJECT_ID</key>
	<string>msp-project-215c5</string>
	<key>STORAGE_BUCKET</key>
	<string>msp-project-215c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998485099147:ios:84ace253e2c46e8330ca8e</string>
</dict>
</plist>